"""{{ project_name }} package"""

from openapi_client_core import BaseOpenAPIClient

class Client(BaseOpenAPIClient):
    """Service-specific client implementation."""
    # implement service-specific helpers here
    pass
